AutoSynchService/AutoSynchService/obj/
AutoSynchService/AutoSynchService/bin/
AutoSynchService/AutoSynchService/.vs/
AutoSynchService/AutoSynchAPI/obj/
AutoSynchService/AutoSynchAPI/bin/
AutoSynchService/AutoSynchAPI/.vs/
AutoSynchService/AutoSynchFtp/obj/
AutoSynchService/AutoSynchFtp/bin/
AutoSynchService/AutoSynchFtp/.vs/
AutoSynchService/AutoSynchSqlite/obj/
AutoSynchService/AutoSynchSqlite/bin/
AutoSynchService/AutoSynchSqlite/.vs/
AutoSynchService/AutoSynchSqlServer/obj/
AutoSynchService/AutoSynchSqlServer/bin/
AutoSynchService/AutoSynchSqlServer/.vs/
AutoSynchService/AutoSynchSqlServerLocal/obj/
AutoSynchService/AutoSynchSqlServerLocal/bin/
AutoSynchService/AutoSynchSqlServerLocal/.vs/
AutoSynchService/PrintingService/
AutoSynchService/packages/
AutoSynchService/.vs
/AutoSynchService/AutoSynchPoSService/bin
/AutoSynchService/AutoSynchPoSService/obj
/AutoSynchService/AutoSynchDesktopApp/bin/Debug/net6.0-windows
/AutoSynchService/AutoSynchDesktopApp/obj
/AutoSynchService/AutoSynchClientEngine/bin
/AutoSynchService/AutoSynchClientEngine/obj
/AutoSynchService/AutoSynchDesktopApp/bin
